Source: vdr-plugin-dbus2vdr
Section: video
Priority: extra
Maintainer: Holger Schvestka <hotzenplotz5@gmx.de>
Build-Depends: cdbs, debhelper (>= 7), vdr-dev (>= 1.7.17), libdbus-1-dev, pkg-config, libjpeg-dev, libpng++-dev
Standards-Version: 3.9.1
Homepage: https://github.com/flensrocker/vdr-plugin-dbus2vdr

Package: vdr-plugin-dbus2vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: A VDR plugin, control VDR via DBus
 This VDR-plugin will expose some methods via DBus to control the vdr

Package: vdr-plugin-dbus2vdr-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-dbus2vdr (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-dbus2vdr
 .
 This package contains only the debugging symbols for vdr-plugin-dbus2vdr 

