#!/usr/bin/make -f

.PHONY: override_dh_strip override_dh_auto_install

override_dh_strip:
	dh_strip --dbg-package=vdr-plugin-dbus2vdr-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/vdr-plugin-dbus2vdr

%:
	dh $@

